<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>New Pokemon</title>
</head>
<body>

	<form action="/pokemon" method="POST">
		<input type="text" name="name">Name</input><br>
		<input type="text" name="img">Image link</input><br>
		<button type="submit">Submit</button>
	</form>

</body>
</html>